* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}

/* .lato {
    font-family: "Lato";
}

.mont {
    font-family: "Montserrat";
}

.mono {
    font-family: "DM Mono";
}

.urbanist {
    font-family: "Urbanist";
}

.fraunces {
    font-family: "fraunces";
} */

body {
  background: #090e22;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: #fff;
}

.hide {
  display: none !important;
}

.container {
  min-width: 400px;
  min-height: 400px;
  background: #1d1e33;
  padding: 2rem;
}

.container a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    color: #4583d4;
}

#imc-desc {
    max-width: 400px;
    margin-top: .8rem;
    text-align: center;
    overflow: hidden;
    max-height: 0;        
    opacity: 0;           
    transition: max-height 0.4s ease, opacity 0.4s;
}

#imc-desc.show {
    max-height: 300px;
    opacity: 1;
}


/* IMC Form */

#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#calc-container p {
    text-align: center;
    margin-bottom: 1rem;
    max-width: 400px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #ccc;
}

.form-control input {
  padding: 0.7rem 0.5rem;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #f44236;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  flex: 1
}

button:hover {
  opacity: 1;
}

#clear-btn {
  background: #444;
}

/* Table */

#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.4rem;
  color: #ccc;
}

#result-container h3 {
  margin-top: 1rem;
  color: #dfdfdf;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #ccc;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
    align-self: center;
}

.good {
    color: #12db34;
}

.low {
    color: #dbce12;
}

.medium {
    color: #db6212;
}

.high {
    color: #db1912;
}

